<div class="col-md-12">
  <div class="card mt-5">
    <div class="card-header">{{ receptas.name }} <br>
    {{receptas.url}}
    </div>
    <div class="card-body">
      <!-- <div id="{{receptas.id}}" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul class="list-unstyled">
            <li><strong><i><u>Aprašymas:</u></i></strong></li>
            <li>{{receptas.description}}</li>
            <li><strong><i><u>Ingredientai:</u></i></strong>
              <ul>
                <li *ngFor="let ingredient of receptas.ingredients">{{ingredient.name}}</li>
              </ul>
            </li>
          </ul>
        </div> -->
        <button [routerLink]="['/skaitomi']" type="button" class="btn btn-secondary mt-3 float-end">Atgal</button>
      <!-- </div> -->
    </div>
  </div>
</div>
