<div class="col-md-12">
    <div class="card mt-5">
        <div class="card-header">Labas: <i>{{ user.email }}</i></div>        
        <div class="card-body">
            <p>Dabar gali įkelti savo mėgstamą receptą</p> 
            <a href="" class="btn btn-dark" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['skaitomi']">Skaityti receptų knygą</a>
            <a href="" style="margin-left: 10px;" class="btn btn-outline-dark" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['rasomi']">Pildyti receptų knygą</a>
        </div>
    </div>
</div>
