<div class="col-md-12">
    <div class="card mt-5">
        <div class="card-header">Labas: <i>{{ user.email }}</i></div>
        <div class="card-body">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" [routerLink]="['skaitomi']">Skaityti receptų knygą</a>
                <a class="list-group-item list-group-item-action" [routerLink]="['rasomi']">Pildyti receptų knygą</a>
            </div>
            <button type="button" class="btn btn-info" (click)="onLogout()">Atsijungti</button>
        </div>
    </div>
</div>
