<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" routerLink="/auth" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <svg style="height: 40px; margin-right:12px; margin-bottom:8px" aria-hidden="true" focusable="far" data-prefix="far" data-icon="book" role="img" xmlns="http://www.w3.org/200/svg"></svg> 
        <b><i><i class="bi bi-journal-richtext">
        </i>MĖGSTAMI RECEPTAI</i></b>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"(click)="isShown=!isShown">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse float-lg-end text-sm-center mx-center" [ngClass]="{show:isShown}">
        <ul class="navbar-nav ml-2 mb-5 mb-lg-1 mt-lg-0 mx-lg-0 px-1" (click)="isShown=!isShown">
          <li class="nav-item my-2 active">
            <a href="" class="nav-link nav-link-action" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['skaitomi']" >Skaityti receptus</a>
          </li>
          <li class="nav-item my-2" *ngIf="loggedIn">
            <a href="" class="nav-link nav-link-action" [routerLink]="['rasomi']" *ngIf="loggedIn">Įkelti receptą</a>
          </li>
          <li class="nav-item my-2" *ngIf="loggedIn">
            <a href="" class="btn btn-outline-secondary mx-2" *ngIf="loggedIn" (click)="onLoginLogout()">Atsijungti</a>
          </li>
          <li class="nav-item my-2" *ngIf="loggedIn">
            <a [routerLink]="['auth', 'login']" class="btn btn-outline-light mx-2" (click)="onClickLogin()">Prisijungti</a>
          </li>
          <li class="nav-item my-2" *ngIf="loggedIn">
            <a [routerLink]="['auth', 'subscribe']" class="btn btn-light mx-2" (click)="onClickRegister()">Registruotis</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
